@model MockSchoolManagement.ViewModels.HomeDetailsViewModel;
@*@{var student = ViewData["Student"] as Student;}*@
@{ 
    ViewBag.Title = "Student Details";
}
<h3>@Model.PageTitle</h3>
<div class="row justify-content-center m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Student.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="//via.placeholder.com/150x150" alt="" />
                <h4>Name: @Model.Student.Name</h4>
                <h4>Mail: @Model.Student.Email</h4>
                <h4>Major: @Model.Student.Major</h4>
            </div>
            <div class="card-footer text-center">
                <a href="" class="btn btn-primary">back</a>
                <a href="" class="btn btn-primary">edit</a>
                <a href="" class="btn btn-primary">delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        console.log("details")
    </script>
} 